<!-- <img src="resources/img/ctf-content-tree.svg" /> -->
<div class="ctf-content-tree">
  <div class="hover"></div>
  <ul>
    <li class="first">
      <div class="selected"></div>
      <div class="title active" data-entry="guide-to-france">
        Tourist guide to France
      </div>
      <div class="btn-toggle active">
        <img src="resources/img/arrow.svg" />
      </div>
      <span class="status draft"></span>
      <ul>
        <li>
          <div class="title" data-entry="generic">
            <img src="resources/img/ctf-icons.svg#media"/>
            Map of France
          </div>
          <span class="status published"></span>
        </li>
        <li>
          <div class="list_title">City guides</div>
          <ul class="list_ul">
            <li>
              <div class="title" data-entry="generic">
                Guide to Bordeaux
              </div>
              <div class="btn-toggle">
                <img src="resources/img/arrow.svg" />
              </div>
              <span class="status draft"></span>
              <component id="dummy-ul"></component>
            </li>
            <li>
              <div id="L2" class="title" data-entry="guide-to-paris">
                Guide to Paris
              </div>
              <div class="btn-toggle">
                <img src="resources/img/arrow.svg" />
              </div>
              <span class="status published"></span>
              <ul>
                <li>
                  <div class="list_title">Places to visit</div>
                  <ul class="list_ul">
                    <li>
                      <div class="title" data-entry="generic">
                        Monmartre
                      </div>
                      <div class="btn-toggle">
                        <img src="resources/img/arrow.svg" />
                      </div>
                      <span class="status draft"></span>
                      <component id="dummy-ul"></component>
                    </li>
                    <li>
                      <div class="title" data-entry="generic">
                        Louvre
                      </div>
                      <div class="btn-toggle">
                        <img src="resources/img/arrow.svg" />
                      </div>
                      <span class="status draft"></span>
                      <component id="dummy-ul"></component>
                    </li>
                    <li>
                      <div id="L3" class="title" data-entry="eiffel-tower">
                        Eiffel Tower
                      </div>
                      <div class="btn-toggle">
                        <img src="resources/img/arrow.svg" />
                      </div>
                      <span class="status published"></span>
                      <ul>
                        <li>
                          <div id="L4" class="title" data-entry="media-eiffel-tower">
                            <img src="resources/img/ctf-icons.svg#media"/>
                            Eiffel Tower
                          </div>
                          <span class="status published"></span>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <div class="title" data-entry="generic">
                Guide to Provence
              </div>
              <div class="btn-toggle">
                <img src="resources/img/arrow.svg" />
              </div>
              <span class="status draft"></span>
              <component id="dummy-ul"></component>
            </li>
            <li>
              <div class="title" data-entry="generic">
                Guide to Burgundy
              </div>
              <div class="btn-toggle">
                <img src="resources/img/arrow.svg" />
              </div>
              <span class="status draft"></span>
              <component id="dummy-ul"></component>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>