<ul>
  <li>
    <ul class="list_ul">
      <li>
        <div class="title" data-sysmes="Nothing here, sorry.">
          -
        </div>
        <span class="status published"></span>
      </li>
      <li>
        <div class="title" data-sysmes="Nothing here, sorry.">
          -
        </div>
        <span class="status draft"></span>
      </li>
      <li>
        <div class="title" data-sysmes="Nothing here, sorry.">
          -
        </div>
        <span class="status published"></span>
      </li>
    </ul>
  </li>
</ul>