<div class="form-group">
    <label>Title <i>(required)</i></label>
    <input type="text" class="form-control" value="Eifell Tower" />
</div>
<div class="form-group">
    <label>Description</label>
    <textarea class="form-control" rows="7">The stretch of Paris in the shadow of the Eiffel Tower is so sweepingly grand that it can take the fun out of exploration: the avenues are just too long, the pavements somehow too hard and the buildings too forbiddingly formal. Most visitors drop in by métro (or sail in by Batobus), to climb the Tower and perhaps call in at one of the quarter’s fine museums, in the Trocadéro, a hop away on the north bank. The area at the Eiffel Tower’s feet, to the east, is the septième (7e) arrondissement, mostly dominated by monumental military and government buildings.</textarea>
</div>

<div class="form-group">
    <label>Photo</label>
    <div class="media-container" data-aid="add-stack" data-stack="media-eiffel-tower">
        <img src="resources/img/eiffel-tower.jpg" />
    </div>
</div>
