<div class="form-group">
    <label>Title <i>(required)</i></label>
    <input type="text" class="form-control" value="Tourist guide to France" />
</div>
<div class="form-group">
    <label>Description</label>
    <textarea class="form-control" rows="7">The sheer physical diversity of France would be hard to exhaust in a lifetime of visits. Places to visit in France range from the fretted coasts of Brittany and the limestone hills of Provence to the canyons of the Pyrenees and the half-moon bays of Corsica, and from the lushly wooded valleys of the Dordogne and the gentle meadows of the Loire valley to the glaciated peaks of the Alps. Each region looks and feels different, has its own style of architecture, its own characteristic food and often its own dialect. Though the French word pays is the term for a whole country, people frequently refer to their own region as mon pays – my country – and this strong sense of regional identity has persisted despite centuries of centralizing governments, from Louis XIV to de Gaulle.</textarea>
</div>

<div class="form-group">
    <label>Photo</label>
    <div class="media-container">
        <img src="resources/img/france-map.jpg" />
    </div>
</div>

<div class="form-group">
    <label>City guides</label>
    <div class="search-new">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for entry...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Search</button>
            </span>
        </div>
        <button class="btn btn-grey flt" type="button">Add New</button>
    </div>
    <ul class="ref-list">
        <li>
            <div class="drag">
                <img src="resources/img/ctf-icons.svg#drag" width="3" height="14.6" />
            </div>
            <div class="edit" data-sysmes='Try "Guide to Paris".'>
                <span class="status draft"></span> Guide to Bordeaux
            </div>
            <div class="remove">
                <img src="resources/img/ctf-icons.svg#remove" width="10" height="10" />
            </div>
        </li>
        <li>
            <div class="drag">
                <img src="resources/img/ctf-icons.svg#drag" width="3" height="14.6" />
            </div>
            <div class="edit" data-aid="add-stack" data-stack="guide-to-paris">
                <span class="status published"></span> Guide to Paris
            </div>
            <div class="remove">
                <img src="resources/img/ctf-icons.svg#remove" width="10" height="10" />
            </div>
        </li>
        <li>
            <div class="drag">
                <img src="resources/img/ctf-icons.svg#drag" width="3" height="14.6" />
            </div>
            <div class="edit" data-sysmes='Try clicking "Guide to Paris".'>
                <span class="status draft"></span> Guide to Provence
            </div>
            <div class="remove">
                <img src="resources/img/ctf-icons.svg#remove" width="10" height="10" />
            </div>
        </li>
        <li>
            <div class="drag">
                <img src="resources/img/ctf-icons.svg#drag" width="3" height="14.6" />
            </div>
            <div class="edit" data-sysmes='Just click "Guide to Paris" :)'>
                <span class="status draft"></span> Guide to Burgundy
            </div>
            <div class="remove">
                <img src="resources/img/ctf-icons.svg#remove" width="10" height="10" />
            </div>
        </li>
    </ul>
</div>
