<div class="form-group">
    <label>Title <i>(required)</i></label>
    <input type="text" class="form-control" value="Guide to Paris" />
</div>
<div class="form-group">
    <label>Description</label>
    <textarea class="form-control" rows="7">Long considered the paragon of style, Paris is perhaps the most glamorous city in Europe. It is at once deeply traditional – a village-like metropolis whose inhabitants continue to be notorious for their hauteur – and famously cosmopolitan. The city’s reputation as a magnet for writers, artists and dissidents lives on, and it remains at the forefront of Western intellectual, artistic and literary life. The most tangible and immediate pleasures of Paris are found in its street life and along the banks and bridges of the River Seine. Cafés, bars and restaurants line every street and boulevard, and the city’s compactness makes it possible to experience the individual feel of the different quartiers</textarea>
</div>

<div class="form-group">
    <label>Places to visit</label>
    <div class="search-new">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for entry...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Search</button>
            </span>
        </div>
        <button class="btn btn-grey flt" type="button">Add New</button>
    </div>
    <ul class="ref-list">
        <li>
            <div class="drag">
                <img src="resources/img/ctf-icons.svg#drag" width="3" height="14.6" />
            </div>
            <div class="edit" data-sysmes='Try "Eifell Tower".'>
                <span class="status draft"></span> Monmartre
            </div>
            <div class="remove">
                <img src="resources/img/ctf-icons.svg#remove" width="10" height="10" />
            </div>
        </li>
        <li>
            <div class="drag">
                <img src="resources/img/ctf-icons.svg#drag" width="3" height="14.6" />
            </div>
            <div class="edit" data-sysmes='Try "Eifell Tower".'>
                <span class="status draft"></span> Louvre
            </div>
            <div class="remove">
                <img src="resources/img/ctf-icons.svg#remove" width="10" height="10" />
            </div>
        </li>
        <li>
            <div class="drag">
                <img src="resources/img/ctf-icons.svg#drag" width="3" height="14.6" />
            </div>
            <div class="edit" data-aid="add-stack" data-stack="eiffel-tower">
                <span class="status published"></span> Eiffel Tower
            </div>
            <div class="remove">
                <img src="resources/img/ctf-icons.svg#remove" width="10" height="10" />
            </div>
        </li>
    </ul>
</div>
