
<component id="header"></component>

<!-- content placeholder -->
<div class="ctf-placeholder_body">

  <!-- blank -->
  <div class="entry-placeholder" data-entry="generic">
    <p class="hint">
      Page intentionally left blank.
      <br />Try "Guide to Paris" or "Eiffel Tower".
    </p>
  </div>

  <!-- entry 1 -->
  <div class="entry-placeholder" data-entry="guide-to-france">
    <div class="entry">
      <div class="titlebar">
        <h1><img src="resources/img/ctf-icons.svg#entry-color"/>Tourist guide to France</h1>
      </div>
      <div class="formcontent">
        <div class="row">
          <div class="col-xs-10">
            <component id="guide-to-france"></component>
          </div>
        </div>
      </div>
    </div>

    <div class="right-sidebar" data-aid="e1-wbar">
      <ul class="widgets">
        <li>
          <div class="title">
            Translations
            <svg class="arrow" viewBox="-1 -1 14 10" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.11 1.917c.175-.175.175-.46 0-.635L9.952.132c-.174-.176-.453-.176-.628 0L5.62 3.834 1.917.13c-.175-.174-.454-.174-.628 0L.13 1.283c-.174.174-.174.46 0 .635l5.177 5.168c.174.175.453.175.627 0l5.176-5.168z"></path>
            </svg>
          </div>
          <div class="box"></div>
        </li>
        <li>
          <div class="title">
            Users
            <svg class="arrow" viewBox="-1 -1 14 10" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.11 1.917c.175-.175.175-.46 0-.635L9.952.132c-.174-.176-.453-.176-.628 0L5.62 3.834 1.917.13c-.175-.174-.454-.174-.628 0L.13 1.283c-.174.174-.174.46 0 .635l5.177 5.168c.174.175.453.175.627 0l5.176-5.168z"></path>
            </svg>
          </div>
          <div class="box"></div>
        </li>
        <li>
          <div class="title">
            Widget One
            <svg class="arrow" viewBox="-1 -1 14 10" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.11 1.917c.175-.175.175-.46 0-.635L9.952.132c-.174-.176-.453-.176-.628 0L5.62 3.834 1.917.13c-.175-.174-.454-.174-.628 0L.13 1.283c-.174.174-.174.46 0 .635l5.177 5.168c.174.175.453.175.627 0l5.176-5.168z"></path>
            </svg>
          </div>
          <div class="box"></div>
        </li>
        <li>
          <div class="title">
            Widget Two
            <svg class="arrow" viewBox="-1 -1 14 10" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.11 1.917c.175-.175.175-.46 0-.635L9.952.132c-.174-.176-.453-.176-.628 0L5.62 3.834 1.917.13c-.175-.174-.454-.174-.628 0L.13 1.283c-.174.174-.174.46 0 .635l5.177 5.168c.174.175.453.175.627 0l5.176-5.168z"></path>
            </svg>
          </div>
          <div class="box"></div>
        </li>
      </ul>

      <div class="publish-widget">
        <div class="status"><span class="mark" data-mark="draft"></span><strong>Status:</strong><span class="text">Draft</span></div>
        <div class="actions">
          <div class="action-group secondary-active">
            <button type="button" class="btn-pri" data-aid="change-status" data-status="publish">Publish</button>
            <div class="dropdown-group">
              <button type="button" class="btn-sec" data-aid="show-dropdown" data-dropdown="sec-actions">
                <svg viewBox="-1 -1 14 10" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.11 1.917c.175-.175.175-.46 0-.635L9.952.132c-.174-.176-.453-.176-.628 0L5.62 3.834 1.917.13c-.175-.174-.454-.174-.628 0L.13 1.283c-.174.174-.174.46 0 .635l5.177 5.168c.174.175.453.175.627 0l5.176-5.168z"></path>
                </svg>
              </button>
              <ul class="dropdown-menu" id="sec-actions">
                <li><a href="javascript:void(0)" data-aid="change-status" data-status="archive">Archive</a></li>
                <li><a href="javascript:void(0)" data-aid="change-status" data-status="draft" style="display:none">Draft</a></li>
                <li><a href="javascript:void(0)" data-aid="change-status" data-status="publish" style="display:none">Publish</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="info">
          All changes saved.
          <span class="btn-link">Revert</span>
        </div>
        <div class="more">
          <button class="btn btn-link btn-block">Create new <i>'Tourist Guide'</i></button>
          <button class="btn btn-link btn-block">Duplicate</button>
          <button class="btn btn-link btn-block">Delete</button>
          <button class="btn btn-link btn-block">Show disabled fields</button>
        </div>
        <div class="btn-more" data-aid="publish-more">
          <div>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- entry 2 -->
  <div class="entry-placeholder" data-entry="guide-to-paris">
    <div class="entry">
      <div class="titlebar">
        <h1><img src="resources/img/ctf-icons.svg#entry-color"/>Guide to Paris</h1>
      </div>
      <div class="formcontent">
        <div class="row">
          <div class="col-xs-10">
            <component id="guide-to-paris"></component>
          </div>
        </div>
      </div>
    </div>
    <div class="right-sidebar">
    </div>
  </div>

  <!-- entry 3 -->
  <div class="entry-placeholder" data-entry="eiffel-tower">
    <div class="entry">
      <div class="titlebar">
        <h1><img src="resources/img/ctf-icons.svg#entry-color"/>Eiffel Tower</h1>
      </div>
      <div class="formcontent">
        <div class="row">
          <div class="col-xs-10">
            <component id="eiffel-tower"></component>
          </div>
        </div>
      </div>
    </div>
    <div class="right-sidebar">
    </div>
  </div>

  <!-- entry 4 -->
  <div class="entry-placeholder" data-entry="media-eiffel-tower">
    <div class="entry">
      <div class="titlebar">
        <h1><img src="resources/img/ctf-icons.svg#media-color"/>Eiffel Tower</h1>
      </div>
      <div class="formcontent">
        <div class="row">
          <div class="col-xs-10">
            <component id="media-eiffel-tower"></component>
          </div>
        </div>
      </div>
    </div>
    <div class="right-sidebar">
    </div>
  </div>
</div>

<!-- left sidebar -->
<div class="left-sidebar">
  <div class="backdrop" data-aid="toggle-left-sidebar"></div>
  <div class="panel">
    <ul class="tabs">
      <li id="t-search">Search</li>
      <li id="t-tree" class="active">Content tree</li>
    </ul>
    <div class="tab-content">
      <div class="tab-search">
        <component id="search-results"></component>
      </div>
      <div class="tab-tree active">
        <component id="content-tree"></component>
      </div>
    </div>
    <div class="btn-icon toggle" data-aid="toggle-left-sidebar">
      <img src="resources/img/ctf-icons.svg#expander" />
    </div>
    <div class="btn-icon pin" data-aid="pin-left-sidebar">
      <img src="resources/img/ctf-icons.svg#pin" />
    </div>
    <div class="dragbar">
      <div>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</div>

<!-- stack 1 -->
<div class="stack" data-stack="guide-to-paris">
  <div class="backdrop" data-aid="remove-stack"></div>
  <div class="panel">
    <div class="entry">
      <div class="titlebar">
        <div class="btn-icon" data-aid="remove-stack">
          <img src="resources/img/ctf-icons.svg#back" />
        </div>
        <div class="btn-icon-more" data-aid="dropdown-stack">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <h1><img src="resources/img/ctf-icons.svg#entry-color"/>Guide to Paris</h1>
      </div>
      <div class="formcontent">
        <div class="row">
          <div class="col-xs-10">
            <component id="guide-to-paris"></component>
          </div>
        </div>
      </div>
    </div>
    <div class="right-sidebar">
    </div>
  </div>
</div>

<!-- stack 2 -->
<div class="stack" data-stack="eiffel-tower">
  <div class="backdrop" data-aid="remove-stack"></div>
  <div class="panel">
    <div class="entry">
      <div class="titlebar">
        <div class="btn-icon" data-aid="remove-stack">
          <img src="resources/img/ctf-icons.svg#back" />
        </div>
        <div class="btn-icon-more" data-aid="dropdown-stack">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <h1><img src="resources/img/ctf-icons.svg#entry-color"/>Eiffel tower</h1>
      </div>
      <div class="formcontent">
        <div class="row">
          <div class="col-xs-10">
            <component id="eiffel-tower"></component>
          </div>
        </div>
      </div>
    </div>
    <div class="right-sidebar">
    </div>
  </div>
</div>

<!-- stack 3 -->
<div class="stack" data-stack="media-eiffel-tower">
  <div class="backdrop" data-aid="remove-stack"></div>
  <div class="panel">
    <div class="entry">
      <div class="titlebar">
        <div class="btn-icon" data-aid="remove-stack">
          <img src="resources/img/ctf-icons.svg#back" />
        </div>
        <div class="btn-icon-more" data-aid="dropdown-stack">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <h1><img data-media src="resources/img/ctf-icons.svg#media-color"/>Eiffel tower</h1>
      </div>
      <div class="formcontent">
        <div class="row">
          <div class="col-xs-10">
            <component id="media-eiffel-tower"></component>
            <button class="btn btn-default" data-aid="add-stack" data-stack="stack-4">Open stack #4</button>
          </div>
        </div>
      </div>
    </div>
    <div class="right-sidebar">
    </div>
  </div>
</div>

<!-- stack 4 -->
<div class="stack" data-stack="stack-4">
  <div class="backdrop" data-aid="remove-stack"></div>
  <div class="panel">
    <div class="entry">
      <div class="titlebar">
        <div class="btn-icon" data-aid="remove-stack">
          <img src="resources/img/ctf-icons.svg#back" />
        </div>
        <div class="btn-icon-more" data-aid="dropdown-stack">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <h1><img src="resources/img/ctf-icons.svg#entry-color"/>Stack #4</h1>
      </div>
      <div class="formcontent">
        <div class="row">
          <div class="col-xs-10">
            <button class="btn btn-default" data-aid="add-stack" data-stack="stack-5">Open stack #5</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- stack 5 -->
<div class="stack" data-stack="stack-5">
  <div class="backdrop" data-aid="remove-stack"></div>
  <div class="panel">
    <div class="entry">
      <div class="titlebar">
        <div class="btn-icon" data-aid="remove-stack")>
          <img src="resources/img/ctf-icons.svg#back" />
        </div>
        <div class="btn-icon-more" data-aid="dropdown-stack">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <h1><img src="resources/img/ctf-icons.svg#entry-color"/>Stack #5</h1>
      </div>
      <div class="formcontent">
        <div class="row">
          <div class="col-xs-10">
            <button class="btn btn-default" data-aid="add-stack" data-stack="stack-6">Open stack #6</button>
          </div>
        </div>
      </div>
    </div>
    <div class="right-sidebar"></div>
  </div>
</div>

<!-- stack 6 -->
<div class="stack" data-stack="stack-6">
  <div class="backdrop" data-aid="remove-stack"></div>
  <div class="panel">
    <div class="entry">
      <div class="titlebar">
        <div class="btn-icon" data-aid="remove-stack">
          <img src="resources/img/ctf-icons.svg#back" />
        </div>
        <div class="btn-icon-more" data-aid="dropdown-stack">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <h1><img src="resources/img/ctf-icons.svg#entry-color"/>Stack #6</h1>
      </div>
      <div class="formcontent">
        <div class="row">
          <div class="col-xs-10">
          </div>
        </div>
      </div>
    </div>
    <div class="right-sidebar"></div>
  </div>
</div>

<!-- instructional tip -->
<div class="uitip">
  <span>Try sidebar for faster content navigation</span>
  <div class="close-tip" data-aid="close-uitip">
    <svg width="12px" height="12px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <path d="M5.53846154,8 L1.23076923,3.69230769 L-7.05452248e-14,2.46153846 L2.46153846,5.32907052e-15 L3.69230769,1.23076923 L8,5.53846154 L12.3076923,1.23076923 L13.5384615,1.26170601e-14 L16,2.46153846 L14.7692308,3.69230769 L10.4615385,8 L14.7692308,12.3076923 L16,13.5384615 L13.5384615,16 L12.3076923,14.7692308 L8,10.4615385 L3.69230769,14.7692308 L2.46153846,16 L-7.90478794e-14,13.5384615 L1.23076923,12.3076923 L5.53846154,8 L5.53846154,8 Z"></path>
    </svg>
  </div>
</div>

<!-- stack nav dropdown -->
<div class="stack-nav-dropdown">
  <ul>
    <li data-stack="stack-6">
      <span class="title">Stack #6</span>
      <span class="status published"></span>
    </li>
    <li data-stack="stack-5">
      <span class="title">Stack #5</span>
      <span class="status published"></span>
    </li>
    <li data-stack="stack-4">
      <span class="title">Stack #4</span>
      <span class="status draft"></span>
    </li>
    <li data-stack="media-eiffel-tower" class="on">
      <span class="title"><img src="resources/img/ctf-icons.svg#media"/>Eiffel Tower</span>
      <span class="status published"></span>
    </li>
    <li data-stack="eiffel-tower" class="on">
      <span class="title">Eiffel Tower</span>
      <span class="status published"></span>
    </li>
    <li data-stack="guide-to-paris" class="on">
      <span class="title">Guide to Paris</span>
      <span class="status draft"></span>
    </li>
    <li data-entry="guide-to-france" class="on">
      <span class="title">Tourist guide to France</span>
      <span class="status published"></span>
    </li>
  </ul>
</div>